<% include partials/header %>

    <header class="jumbotron">
        <h1><i class="fas fa-dice-six"></i> Pathfinder tools</h1>
        <p>The comprehensive resource for my morons</p>
    </header>
    <p>
        <a href="/undead" class="btn btn-primary btn-lg">Create an Undead</a>
    </p>


    <% include partials/footer %>