<% include partials/header %>
    <h1><i class="fas fa-skull"></i> Undead creature</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Base creature">
                <div class="input-group-append">
                    <span class="input-group-text">Kill it</span>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary">Skeleton</button>
                <button type="button" class="btn btn-primary">Zombie</button>
                <button type="button" class="btn btn-primary">Fast Zombie</button>
            </div>
        </div>
    </div>

    <% include partials/footer %>